@page "/PrivacyStatement"

<div style="height:100%; max-width:800px; margin-left:75px; overflow-y:auto;">
    <h3 style="padding-bottom: 15px;">Part Picker Industries Ltd. Privacy Policy</h3>

    <h4>General Disclaimer and Updates to this Privacy Policy</h4>
    <p>
        We take the privacy of your personal information very seriously.  While visiting this Web Site, we will not collect any personal information about
        you unless you choose to provide that information.  Any personal information collected will only be used in accordance with this Privacy Policy.
        Please review this entire Privacy Policy carefully. 
    </p>
    <p>
        We may revise this Privacy Policy over time. Please check partspicker.com from time to time for the most current version of our Privacy Policy.
    </p>
    <h4>Information Collected and Stored Automatically</h4>
    <p>
        Our web servers automatically collect usage information from you when you visit. Web Site usage information informs us about how our visitors use
        and navigate this Web Site.  This information helps us give you the best possible experience.  For each page that you visit, we may collect and store the following technical information:
        <ul style="list-style-type: disc; list-style-position: inside;">
            <li>the number of visits, including the date and time of access;</li>
            <li>the URL address of the webpage visited;</li>
            <li>the length of time you stay on a webpage;</li>
            <li>your click through activity; and</li>
            <li>your Internet Protocol address.</li>
            <li>This data informs us about the number of visitors to this Web Site and the type of technology our visitors use.  </li>
        </ul>
    </p>
    <p>
        Additionally, certain pages of this Web Site may use cookies and clear graphics interchange format images (“GIFs”) to track and store your information for the purposes described in
        this Privacy Policy.  This allows us to recognize you as a registered user if you return to our site using the same computer and browser. 
    </p>
    <p>
        A “cookie” is a tiny element of data that this Web Site can send to your browser, which may then be stored on your hard drive so that our server can recognize you when you return.
        Websites use cookies to track activities (such as pages visited, links clicked) so that more customized features can be provided when the website user returns. Instructions on how to erase
        cookies or block this information from your computer is provided at the link below.
    </p>

    <h4>Information Collected From You</h4>
    <p>
        On the website, you may be asked to voluntarily submit personal information such as your first and last name, company name, email address, phone number, fax number and address.
        This may occur if you intend to access certain areas of our website.  You may also be asked to establish a login name and password in order to access certain areas of the site.
        If you forget your password, you may request to reset your password.  In these cases, all information voluntarily submitted by you is retained by us and is used only for the express purpose
        for which it is provided and in accordance with this Privacy Policy.
    </p>
    <p>... and so on.</p>
</div>